<a href="https://colab.research.google.com/github/PrathameshPatil547/ML/blob/main/Practical_3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
#Prathamesh Patil
#20CO090
#BE Computer-B

In [2]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn.compose import ColumnTransformer
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder, OneHotEncoder, StandardScaler
from sklearn.svm import SVC, LinearSVC
from sklearn.neighbors import KNeighborsClassifier
from sklearn import metrics
from sklearn import preprocessing

In [6]:
df = pd.read_csv('Churn_Modelling.csv')

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 14 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   RowNumber        10000 non-null  int64
 1   CustomerId       10000 non-null  int64
 2   Surname          10000 non-null  object
 3   CreditScore      10000 non-null  int64
 4   Geography        10000 non-null  object
 5   Gender           10000 non-null  object
 6   Age              10000 non-null  int64
 7   Tenure           10000 non-null  int64
 8   Balance          10000 non-null  float64
 9   NumOfProducts    10000 non-null  int64
 10  HasCrCard        10000 non-null  int64
 11  IsActiveMember   10000 non-null  int64
 12  EstimatedSalary  10000 non-null  float64
 13  Exited           10000 non-null  int64
dtypes: float64(2), int64(9), object(3)
memory usage: 1.1+ MB

In [8]:
df.head()

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [9]:
df.drop(columns=['RowNumber', 'CustomerId', 'Surname'], inplace=True)

In [10]:
df.isna().sum()

CreditScore        0
Geography          0
Gender             0
Age                0
Tenure             0
Balance            0
NumOfProducts      0
HasCrCard          0
IsActiveMember     0
EstimatedSalary    0
Exited             0
dtype: int64

In [11]:
df.describe()

,CreditScore,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
count,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.00000,10000.000000,10000.000000,10000.000000
mean,650.528800,38.921800,5.012800,76485.889288,1.530200,0.70550,0.515100,100090.239881,0.203700
std,96.653299,10.487806,2.892174,62397.405202,0.581654,0.45584,0.499797,57510.492818,0.402769
min,350.000000,18.000000,0.000000,0.000000,1.000000,0.00000,0.000000,11.580000,0.000000
25%,584.000000,32.000000,3.000000,0.000000,1.000000,0.00000,0.000000,51002.110000,0.000000
50%,652.000000,37.000000,5.000000,97198.540000,1.000000,1.00000,1.000000,100193.915000,0.000000
75%,718.000000,44.000000,7.000000,127644.240000,2.000000,1.00000,1.000000,149388.247500,0.000000
max,850.000000,92.000000,10.000000,250898.090000,4.000000,1.00000,1.000000,199992.480000,1.000000

In [12]:
X=df.iloc[:, :df.shape[1]-1].values
y=df.iloc[:, -1].values
X.shape, y.shape

((10000, 10), (10000,))

In [13]:
print(X[:8,1], '... will now become: ')

label_X_country_encoder = LabelEncoder()
X[:,1] = label_X_country_encoder.fit_transform(X[:,1])
print(X[:8,1])

['France' 'Spain' 'France' 'France' 'Spain' 'Spain' 'France' 'Germany'] ... will now become:
[0 2 0 0 2 2 0 1]

In [14]:
print(X[:6,2], '... will now become: ')

label_X_gender_encoder = LabelEncoder()
X[:,2] = label_X_gender_encoder.fit_transform(X[:,2])
print(X[:6,2])

['Female' 'Female' 'Female' 'Female' 'Female' 'Male'] ... will now become:
[0 0 0 0 0 1]

In [15]:
transform = ColumnTransformer([("countries", OneHotEncoder(), [1])], remainder="passthrough")
X = transform.fit_transform(X)
X

array([[1.0, 0.0, 0.0, ..., 1, 1, 101348.88],
       [0.0, 0.0, 1.0, ..., 0, 1, 112542.58],
       [1.0, 0.0, 0.0, ..., 1, 0, 113931.57],
       ...,
       [1.0, 0.0, 0.0, ..., 0, 1, 42085.58],
       [0.0, 1.0, 0.0, ..., 1, 0, 92888.52],
       [1.0, 0.0, 0.0, ..., 1, 0, 38190.78]], dtype=object)

In [16]:
X = X[:,1:]
X.shape

(10000, 11)

In [17]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=0)

In [18]:
sc=StandardScaler()
X_train[:,np.array([2,4,5,6,7,10])] = sc.fit_transform(X_train[:,np.array([2,4,5,6,7,10])])
X_test[:,np.array([2,4,5,6,7,10])] = sc.transform(X_test[:,np.array([2,4,5,6,7,10])])

In [19]:
sc=StandardScaler()
X_train = sc.fit_transform(X_train)
X_test = sc.transform(X_test)
X_train

array([[-0.5698444 ,  1.74309049,  0.16958176, ...,  0.64259497,
        -1.03227043,  1.10643166],
       [ 1.75486502, -0.57369368, -2.30455945, ...,  0.64259497,
         0.9687384 , -0.74866447],
       [-0.5698444 , -0.57369368, -1.19119591, ...,  0.64259497,
        -1.03227043,  1.48533467],
       ...,
       [-0.5698444 , -0.57369368,  0.9015152 , ...,  0.64259497,
        -1.03227043,  1.41231994],
       [-0.5698444 ,  1.74309049, -0.62420521, ...,  0.64259497,
         0.9687384 ,  0.84432121],
       [ 1.75486502, -0.57369368, -0.28401079, ...,  0.64259497,
        -1.03227043,  0.32472465]])

In [20]:
from tensorflow.keras.models import Sequential
classifier = Sequential()

In [22]:
from tensorflow.keras.layers import Dense
# The amount of nodes (dimensions) in hidden layer should be the average of input and output lay
# This adds the input layer (by specifying input dimension) AND the first hidden layer (units)
classifier.add(Dense(activation = 'relu', input_dim = 11, units=256, kernel_initializer='uniform'))

In [23]:
classifier.add(Dense(activation = 'relu', units=512, kernel_initializer='uniform'))
classifier.add(Dense(activation = 'relu', units=256, kernel_initializer='uniform'))
classifier.add(Dense(activation = 'relu', units=128, kernel_initializer='uniform'))

In [24]:
classifier.add(Dense(activation = 'sigmoid', units=1, kernel_initializer='uniform'))

In [25]:
classifier.compile(optimizer='adam', loss='binary_crossentropy', metrics=['accuracy'])

In [26]:
classifier.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 256)               3072

 dense_1 (Dense)             (None, 256)               65792

 dense_2 (Dense)             (None, 512)               131584

 dense_3 (Dense)             (None, 256)               131328

 dense_4 (Dense)             (None, 128)               32896

 dense_5 (Dense)             (None, 1)                 129

=================================================================
Total params: 364801 (1.39 MB)
Trainable params: 364801 (1.39 MB)
Non-trainable params: 0 (0.00 Byte)
_________________________________________________________________

In [27]:
classifier.fit(
 X_train, y_train,
 validation_data=(X_test,y_test),
 epochs=20,
 batch_size=32
)

Epoch 1/20
250/250 [==============================] - 10s 24ms/step - loss: 0.4270 - accuracy: 0.8188 - val_loss: 0.3904 - val_accuracy: 0.8555
Epoch 2/20
250/250 [==============================] - 5s 19ms/step - loss: 0.3664 - accuracy: 0.8504 - val_loss: 0.3479 - val_accuracy: 0.8560
Epoch 3/20
250/250 [==============================] - 3s 10ms/step - loss: 0.3487 - accuracy: 0.8580 - val_loss: 0.3593 - val_accuracy: 0.8445
Epoch 4/20
250/250 [==============================] - 2s 9ms/step - loss: 0.3488 - accuracy: 0.8612 - val_loss: 0.3345 - val_accuracy: 0.8685
Epoch 5/20
250/250 [==============================] - 3s 11ms/step - loss: 0.3397 - accuracy: 0.8612 - val_loss: 0.3438 - val_accuracy: 0.8580
Epoch 6/20
250/250 [==============================] - 3s 13ms/step - loss: 0.3362 - accuracy: 0.8616 - val_loss: 0.3351 - val_accuracy: 0.8640
Epoch 7/20
250/250 [==============================] - 2s 9ms/step - loss: 0.3341 - accuracy: 0.8654 - val_loss: 0.3390 - val_accuracy: 0.8655
Epoch 8/20
250/250 [==============================] - 2s 10ms/step - loss: 0.3288 - accuracy: 0.8679 - val_loss: 0.3585 - val_accuracy: 0.8580
Epoch 9/20
250/250 [==============================] - 2s 10ms/step - loss: 0.3238 - accuracy: 0.8685 - val_loss: 0.3399 - val_accuracy: 0.8570
Epoch 10/20
250/250 [==============================] - 4s 15ms/step - loss: 0.3202 - accuracy: 0.8705 - val_loss: 0.3396 - val_accuracy: 0.8625
Epoch 11/20
250/250 [==============================] - 3s 11ms/step - loss: 0.3192 - accuracy: 0.8701 - val_loss: 0.3435 - val_accuracy: 0.8585
Epoch 12/20
250/250 [==============================] - 3s 10ms/step - loss: 0.3151 - accuracy: 0.8704 - val_loss: 0.3646 - val_accuracy: 0.8580
Epoch 13/20
250/250 [==============================] - 2s 9ms/step - loss: 0.3072 - accuracy: 0.8750 - val_loss: 0.3488 - val_accuracy: 0.8575
Epoch 14/20
250/250 [==============================] - 2s 10ms/step - loss: 0.3072 - accuracy: 0.8746 - val_loss: 0.3559 - val_accuracy: 0.8625
Epoch 15/20
250/250 [==============================] - 4s 14ms/step - loss: 0.3033 - accuracy: 0.8759 - val_loss: 0.3708 - val_accuracy: 0.8505
Epoch 16/20
250/250 [==============================] - 3s 10ms/step - loss: 0.2970 - accuracy: 0.8773 - val_loss: 0.3654 - val_accuracy: 0.8545
Epoch 17/20
250/250 [==============================] - 3s 10ms/step - loss: 0.2946 - accuracy: 0.8802 - val_loss: 0.3915 - val_accuracy: 0.8505
Epoch 18/20
250/250 [==============================] - 2s 8ms/step - loss: 0.2891 - accuracy: 0.8819 - val_loss: 0.3810 - val_accuracy: 0.8570
Epoch 19/20
250/250 [==============================] - 3s 10ms/step - loss: 0.2845 - accuracy: 0.8808 - val_loss: 0.3791 - val_accuracy: 0.8590
Epoch 20/20
250/250 [==============================] - 3s 13ms/step - loss: 0.2790 - accuracy: 0.8832 - val_loss: 0.3892 - val_accuracy: 0.8585

In [28]:
y_pred = classifier.predict(X_test)
y_pred

63/63 [==============================] - 1s 5ms/step

array([[0.34021163],
       [0.29130545],
       [0.04013238],
       ...,
       [0.00239091],
       [0.10017367],
       [0.13118382]], dtype=float32)

In [29]:
y_pred = (y_pred > 0.5)
y_pred

array([[False],
       [False],
       [False],
       ...,
       [False],
       [False],
       [False]])

In [30]:
from sklearn.metrics import confusion_matrix,classification_report
cm1 = confusion_matrix(y_test, y_pred)
cm1

array([[1506,   89],
       [ 194,  211]])

In [31]:
print(classification_report(y_test, y_pred))

              precision    recall  f1-score   support

           0       0.89      0.94      0.91      1595
           1       0.70      0.52      0.60       405

    accuracy                           0.86      2000
   macro avg       0.79      0.73      0.76      2000
weighted avg       0.85      0.86      0.85      2000

In [32]:
accuracy_model1 = ((cm1[0][0]+cm1[1][1])*100)/(cm1[0][0]+cm1[1][1]+cm1[0][1]+cm1[1][0])
print (accuracy_model1, '% of testing data was classified correctly')

85.85 % of testing data was classified correctly